# Suppress: EC102
root = true

# common styles for C#
[*.cs]
max_line_length = 65
indent_style = space

dotnet_naming_rule.privcamel.symbols = private_members
dotnet_naming_rule.privcamel.severity = error
dotnet_naming_rule.privcamel.style = camelcase
dotnet_naming_style.camelcase.capitalization = camel_case
dotnet_naming_symbols.private_members.applicable_accessibilities = private
dotnet_naming_symbols.private_members.applicable_kinds = property,method,field

# the examples occasionally use skeleton code that doesn't
# have any tied up implementation so we disable the warnings
# about how the parameters we created are unused.

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:none

# CS0649: Field 'xx' is never assigned to, and will always have its default value null
dotnet_diagnostic.CS0649.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = none

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none

# CS8524: The switch expression does not handle some values of its input type (it is not exhaustive) involving an unnamed enum value.
dotnet_diagnostic.CS8524.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = silent

# IDE0090: Use new(...) syntax
dotnet_diagnostic.IDE0090.severity = silent

# actual nice code formatting rules (Allman style)
[*.csxx]
csharp_new_line_before_open_brace = all
indent_size = 4

# book formatting rules (K&R) to save space 

[*.cs]
csharp_new_line_before_open_brace = none
indent_size = 2

