@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Blabber is an example from the book <a href="https://www.manning.com/books/street-coder">Street Coder</a>
    from Manning Publications.
</p>